{% extends "vaccinations/base.html" %}
{% block title %}Add Record{% endblock %}
{% block content %}
  <h2>Add Record</h2>
  <form method="post">
    {% csrf_token %}
    <div class="field">
      <label>Child's Name</label>
      {{ form.child_name }}
    </div>
    <div class="grid-2">
      <div class="field">
        <label>Gender</label>
        {{ form.gender }}
      </div>
      <div class="field">
        <label>Date of Birth</label>
        {{ form.date_of_birth }}
      </div>
    </div>
    <div class="field">
      <label>State</label>
      {{ form.state }}
    </div>
    <div class="field">
      <label>Parent's WhatsApp No.</label>
      {{ form.parent_whatsapp }}
    </div>
    <button class="btn">Submit</button>
  </form>
{% endblock %}
